p {
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #13377D;
  font-weight: 600;
}

header {
  position: relative;
  background-color: #F5F5F5;
  display: flex;
}
header .headwrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 1200px) {
  header .headwrapper {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  header .list-items {
    padding: 20px 0;
  }
}
header .list-items ul {
  display: flex;
  padding: 0;
}
header .list-items ul li {
  list-style: none;
}
header .list-items ul li a {
  padding: 0 20px;
  color: #13377D;
  font-weight: 500;
  text-decoration: none;
}
@media (max-width: 768px) {
  header .list-items ul li a {
    padding: 0 18px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  header .list-items ul li a {
    padding: 0 8px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  header .list-items ul li a {
    padding: 0 6px;
    font-size: 12px;
  }
}
header .list-items ul li .active {
  color: #E6B622;
}
header .button :nth-child(1) {
  background-color: #E6B622;
  padding: 13px 55px;
  border-radius: 26px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  color: #13377D;
  font-weight: 500;
}
header .button :nth-child(2) {
  border: 1px solid #13377D;
  padding: 13px 35px;
  border-radius: 26px;
  font-size: 16px;
  color: #13377D;
  font-weight: 500;
  text-decoration: none;
}

.banner {
  padding-top: 176px;
  background-color: #F5F5F5;
}
.banner .bannerr-content {
  display: flex;
}
@media (max-width: 768px) {
  .banner .bannerr-content .detail {
    text-align: center;
  }
}
.banner .bannerr-content .detail h2 {
  font-size: 62px;
  color: #13377D;
  font-weight: 600;
}
.banner .bannerr-content .detail h2 span {
  color: #E6B622;
}
@media (max-width: 1200px) {
  .banner .bannerr-content .detail h2 {
    font-size: 52px;
  }
}
@media (max-width: 990px) {
  .banner .bannerr-content .detail h2 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .banner .bannerr-content .detail h2 {
    font-size: 48px;
  }
}
.banner .bannerr-content .detail p {
  font-size: 17px;
}
.banner .bannerr-content .detail .button {
  margin: 35px 0 138px 0;
}
@media (max-width: 768px) {
  .banner .bannerr-content .detail .button {
    margin-bottom: 120px;
  }
}
.banner .bannerr-content .detail .button :nth-child(1) {
  background-color: #13377D;
  border-radius: 40px;
  padding: 17px 68px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
@media (max-width: 990px) {
  .banner .bannerr-content .detail .button :nth-child(1) {
    padding: 12px 30px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .banner .bannerr-content .detail .button :nth-child(1) {
    padding: 12px 54px;
  }
}
.banner .bannerr-content .detail .button :nth-child(2) {
  background-color: #E6B622;
  border-radius: 40px;
  padding: 17px 38px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
@media (max-width: 990px) {
  .banner .bannerr-content .detail .button :nth-child(2) {
    padding: 12px 7px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .banner .bannerr-content .detail .button :nth-child(2) {
    padding: 12px 37px;
  }
}
.banner .bannerr-content .banner-image img {
  width: 100%;
  height: auto;
}

.wealth .wealth-content .wealth-image {
  margin: 82px 0 79px 0;
}
.wealth .wealth-content .wealth-image img {
  width: 100%;
  height: auto;
}
.wealth .wealth-content .wealth-detail {
  margin: 179px 0 176px 0;
}
@media (max-width: 768px) {
  .wealth .wealth-content .wealth-detail {
    margin-top: 0;
    text-align: center;
  }
}
.wealth .wealth-content .wealth-detail h2 {
  font-size: 50px;
}
@media (max-width: 1200px) {
  .wealth .wealth-content .wealth-detail h2 {
    font-size: 44px;
  }
}
@media (max-width: 990px) {
  .wealth .wealth-content .wealth-detail h2 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .wealth .wealth-content .wealth-detail h2 {
    font-size: 42px;
  }
}
.wealth .wealth-content .wealth-detail p {
  font-size: 20px;
}
@media (max-width: 768px) {
  .wealth .wealth-content .wealth-detail p {
    font-size: 18px;
  }
}
.wealth .wealth-content .wealth-detail span {
  font-size: 20px;
  font-weight: 600;
}
.wealth .wealth-content .wealth-detail .button {
  margin-top: 30px;
}
.wealth .wealth-content .wealth-detail .button a {
  background-color: #E6B622;
  padding: 13px 32px;
  border-radius: 26px;
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.Retirement {
  background-color: #F5F5F5;
}
.Retirement .Retirement-content .data {
  margin: 219px 0 218px 0;
}
@media (max-width: 768px) {
  .Retirement .Retirement-content .data {
    margin: 140px 0 0 0;
    text-align: center;
  }
}
.Retirement .Retirement-content .data h2 {
  font-size: 48px;
}
.Retirement .Retirement-content .data p {
  font-size: 20px;
}
.Retirement .Retirement-content .data .button {
  margin-top: 55px;
}
.Retirement .Retirement-content .data .button a {
  background-color: #E6B622;
  padding: 13px 32px;
  border-radius: 26px;
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.Retirement .Retirement-content .image {
  margin: 173px 0;
}
@media (max-width: 768px) {
  .Retirement .Retirement-content .image {
    margin: 100px 0 173px 0;
  }
}
.Retirement .Retirement-content .image img {
  width: 100%;
  height: auto;
}

.halal-Portfolio .Portfolio-content .image {
  margin: 159px 0 149px 0;
}
@media (max-width: 768px) {
  .halal-Portfolio .Portfolio-content .image {
    margin: 128px 0 122px 0;
  }
}
.halal-Portfolio .Portfolio-content .image img {
  width: 100%;
  height: auto;
}
.halal-Portfolio .Portfolio-content .data {
  margin: 212px 0 202px;
}
@media (max-width: 768px) {
  .halal-Portfolio .Portfolio-content .data {
    margin: 0 0 180px 0;
    text-align: center;
  }
}
.halal-Portfolio .Portfolio-content .data h2 {
  font-size: 50px;
}
@media (max-width: 768px) {
  .halal-Portfolio .Portfolio-content .data h2 {
    font-size: 42px;
  }
}
.halal-Portfolio .Portfolio-content .data p {
  font-size: 20px;
}
@media (max-width: 768px) {
  .halal-Portfolio .Portfolio-content .data p {
    font-size: 18px;
  }
}
.halal-Portfolio .Portfolio-content .data .button {
  margin-top: 55px;
}
.halal-Portfolio .Portfolio-content .data .button a {
  background-color: #E6B622;
  padding: 13px 32px;
  border-radius: 26px;
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.own-Portfolio {
  background-color: #F5F5F5;
}
.own-Portfolio .Portfolio-content .data {
  margin: 194px 0;
}
@media (max-width: 768px) {
  .own-Portfolio .Portfolio-content .data {
    margin: 108px 0 0 0;
    text-align: center;
  }
}
.own-Portfolio .Portfolio-content .data h2 {
  font-size: 40px;
}
@media (max-width: 768px) {
  .own-Portfolio .Portfolio-content .data h2 {
    font-size: 42px;
  }
}
.own-Portfolio .Portfolio-content .data p {
  font-size: 20px;
}
@media (max-width: 768px) {
  .own-Portfolio .Portfolio-content .data p {
    font-size: 18px;
  }
}
.own-Portfolio .Portfolio-content .data .button {
  margin-top: 55px;
}
.own-Portfolio .Portfolio-content .data .button a {
  background-color: #E6B622;
  padding: 13px 32px;
  border-radius: 26px;
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.own-Portfolio .Portfolio-content .image {
  margin: 146px 0;
}
@media (max-width: 768px) {
  .own-Portfolio .Portfolio-content .image {
    margin: 100px 0 0 146px 0;
  }
}
.own-Portfolio .Portfolio-content .image img {
  width: 100%;
  height: auto;
}

.divers .divers-content .image {
  margin: 159px 0 149px 0;
}
@media (max-width: 768px) {
  .divers .divers-content .image {
    margin: 128px 0 122px 0;
  }
}
.divers .divers-content .image img {
  width: 100%;
  height: auto;
}
.divers .divers-content .data {
  margin: 212px 0 202px;
}
@media (max-width: 768px) {
  .divers .divers-content .data {
    margin: 0 0 180px 0;
    text-align: center;
  }
}
.divers .divers-content .data h2 {
  font-size: 50px;
}
@media (max-width: 768px) {
  .divers .divers-content .data h2 {
    font-size: 42px;
  }
}
.divers .divers-content .data p {
  font-size: 20px;
}
@media (max-width: 768px) {
  .divers .divers-content .data p {
    font-size: 18px;
  }
}
.divers .divers-content .data .button {
  margin-top: 55px;
}
.divers .divers-content .data .button a {
  background-color: #E6B622;
  padding: 13px 32px;
  border-radius: 26px;
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.aboutus {
  background-color: #F5F5F5;
}
.aboutus .about-content .data {
  margin: 194px 0;
}
@media (max-width: 768px) {
  .aboutus .about-content .data {
    margin: 108px 0 0 0;
    text-align: center;
  }
}
.aboutus .about-content .data h2 {
  font-size: 50px;
}
@media (max-width: 768px) {
  .aboutus .about-content .data h2 {
    font-size: 42px;
  }
}
.aboutus .about-content .data p {
  font-size: 20px;
}
@media (max-width: 768px) {
  .aboutus .about-content .data p {
    font-size: 18px;
  }
}
.aboutus .about-content .data .button {
  margin-top: 55px;
}
.aboutus .about-content .data .button a {
  background-color: #E6B622;
  padding: 13px 32px;
  border-radius: 26px;
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.aboutus .about-content .image {
  margin: 146px 0;
}
@media (max-width: 768px) {
  .aboutus .about-content .image {
    margin: 100px 0 0 146px 0;
  }
}
.aboutus .about-content .image img {
  width: 100%;
  height: auto;
}

.contact .contact-content {
  margin: 110px 0 113px 0;
}
.contact .contact-content .image img {
  width: 100%;
  height: auto;
}
.contact .contact-content .form {
  padding: 20px;
  background-color: #F5F5F5;
  box-shadow: 2px 2px 5px 6px #f5f5fe;
  border-radius: 5px;
}
.contact .contact-content .form h2 {
  font-size: 32px;
  color: #373543;
  font-weight: 600;
}
.contact .contact-content .form h2 span {
  background-color: #E6B622;
  color: white;
}
@media (max-width: 476px) {
  .contact .contact-content .form h2 {
    font-size: 28px;
  }
}
.contact .contact-content .form .forms-control input[type=text] {
  width: 100%;
  border: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.28);
  margin-top: 28px;
  background-color: #F5F5F5;
}
.contact .contact-content .form .forms-control input[type=email] {
  width: 100%;
  border: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.28);
  margin-top: 28px;
  background-color: #F5F5F5;
}
.contact .contact-content .form .forms-control label {
  padding-top: 34px;
  color: #373543;
  font-size: 17px;
}
.contact .contact-content .form .forms-control textarea {
  width: 100%;
  border: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.28);
  background-color: #F5F5F5;
}
.contact .contact-content .form p {
  font-size: 12px;
  font-weight: 600;
  color: #13377D;
  padding: 45px 25px 25px 25px;
}
.contact .contact-content .form button {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  border-radius: 51px;
  background-color: #13377D;
  color: white;
  font-size: 22px;
  font-weight: bold;
  border: transparent;
  margin-bottom: 53px;
  text-decoration: none;
}

.managment {
  background-color: #F5F5F5;
  margin-bottom: 90px;
}
.managment .managment-data {
  text-align: center;
  padding: 16px 0;
}
.managment .managment-data h2 {
  margin: 66px 0 35px 0;
  font-size: 35px;
  color: #13377D;
}
@media (max-width: 768px) {
  .managment .managment-data h2 {
    font-size: 28px;
  }
}
.managment .managment-data a {
  border-radius: 34px;
  padding: 12px 36px;
  margin-bottom: 65px;
  display: inline-block;
  color: black;
  font-size: 20px;
  background: #E6B622;
  font-weight: 600;
  text-decoration: none;
}
@media (max-width: 768px) {
  .managment .managment-data a {
    font-size: 20px;
    padding: 12px 24px;
  }
}

footer .footercontent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footercontent .signature p {
  margin-top: 29px;
}
@media (max-width: 768px) {
  footer .footercontent .signature p {
    font-size: 14px;
  }
}
footer .footercontent .information p {
  color: #E6B622;
  font-size: 18px;
  font-weight: 800;
  padding-top: 15px;
}
@media (max-width: 768px) {
  footer .footercontent .information p {
    font-size: 16px;
  }
}
footer .footercontent .information ul {
  padding: 0;
  list-style: none;
}
footer .footercontent .information ul li a {
  color: black;
  display: block;
  padding-bottom: 15px;
  text-decoration: none;
}
@media (max-width: 768px) {
  footer .footercontent .information ul li a {
    font-size: 14px;
  }
}
footer .footercontent .information ul li .active {
  color: #EFB237;
}
footer .footercontent .contact p {
  padding-top: 15px;
  font-size: 18PX;
  font-weight: bold;
  color: #E6B622;
}
footer .footercontent .contact a {
  color: black;
}
footer .footercontent .contact .logo {
  margin-top: 25px;
}
footer .footercontent .contact .whatsapp {
  padding: 6px 15px;
  margin: 80px 0 15px 0;
  background-color: #FFFFFF;
  box-shadow: -1px 1px 4px #707070;
  position: relative;
}
footer .footercontent .contact .whatsapp::after {
  position: absolute;
  content: "";
  background-image: url(/assets/images/whatsapp.png);
  background-repeat: no-repeat;
  background-position: top right;
  top: -60px;
  height: 51px;
  width: 60px;
}
footer .footercontent .contact .whatsapp a {
  color: #707070;
  font-size: 14px;
}

.footerbottom .footer-content {
  display: flex;
  justify-content: center;
}
.footerbottom .footer-content .copyright {
  padding-right: 30px;
}
.footerbottom .footer-content .copyright a {
  display: block;
  color: #13377D;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
.footerbottom .footer-content .copyright a span {
  font-weight: 800;
  color: #13377D;
  font-family: "Open Sans", sans-serif;
}
.footerbottom .footer-content .amwaly {
  position: relative;
  padding: 0 20px;
}
.footerbottom .footer-content .amwaly::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 18px;
  background-color: #13377D;
  background-position: center;
  bottom: 3px;
  right: 0;
}
.footerbottom .footer-content .amwaly::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 18px;
  background-color: #13377D;
  background-position: center;
  bottom: 3px;
  left: 0;
}
.footerbottom .footer-content .amwaly a {
  color: #13377D;
  font-weight: 800;
}
.footerbottom .footer-content .rights {
  padding-left: 30px;
}
.footerbottom .footer-content .rights a {
  color: #13377D;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.about-us {
  margin-top: 142px;
}
.about-us .about-cotent .image img {
  width: 100%;
  height: auto;
}
.about-us .about-cotent .data {
  margin-top: 10px;
  padding-left: 50px;
}
.about-us .about-cotent .data .accordian {
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.28);
}
.about-us .about-cotent .data .accordian.active .content {
  height: 38px;
  overflow: hidden;
  transition: 0.5s;
}
.about-us .about-cotent .data .accordian.active .label::after {
  content: "-";
  font-size: 44px;
  font-weight: 600;
}
.about-us .about-cotent .data .accordian .label {
  position: relative;
  color: #13377D;
  font-size: 25px;
  font-weight: 600;
  padding: 24px 0;
}
.about-us .about-cotent .data .accordian .label::after {
  content: "+";
  font-size: 34px;
  color: #13377D;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-weight: 800;
}
.about-us .about-cotent .data .accordian .content {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  font-size: 20px;
  color: #13377D;
}

.more {
  margin: 183px 0 52px 0;
}
.more .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.more .heading h2 {
  text-align: center;
  margin-bottom: 43px;
  font-size: 50px;
  color: #13377D;
  font-weight: 600;
}
.more .data p {
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  word-spacing: -3px;
}
.more .image {
  text-align: center;
  align-items: center;
  margin: 65px 0 52px 0;
}
.more .image img {
  width: 62%;
}

.shipping .content {
  display: flex;
  justify-content: flex-end;
  margin: 49px 0 63px 0;
}
@media (max-width: 768px) {
  .shipping .content {
    justify-content: center;
  }
}
.shipping .content .free {
  position: relative;
  display: flex;
  margin-right: 200px;
}
@media (max-width: 768px) {
  .shipping .content .free {
    margin: 0;
  }
}
.shipping .content .free span {
  padding-right: 14px;
}
.shipping .content .free p {
  margin: 0;
  font-size: 14px;
  font-weight: 800;
}
.shipping .content .free p span {
  font-size: 14px;
  font-weight: 400;
}
.shipping .content .cart {
  position: relative;
  display: flex;
}
.shipping .content .cart span {
  padding-right: 14px;
}
.shipping .content .cart p {
  margin: 0;
  font-size: 14px;
  font-weight: 800;
}
.shipping .content .cart p span {
  font-size: 14px;
  font-weight: 400;
}

.products .content .data {
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 87px;
}
.products .content .data .image {
  position: relative;
}
.products .content .data .image::after {
  content: "SALE";
  position: absolute;
  width: 99px;
  height: 43px;
  background-color: #13377D;
  background-position: top, right;
  top: -15px;
  right: -16px;
  border-radius: 0 10px 0 0;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.products .content .data .image img {
  width: 100%;
  height: auto;
  position: relative;
}
.products .content .data .detail {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
}
.products .content .data .detail .name p {
  font-size: 23px;
  font-weight: bold;
}
@media (max-width: 990px) {
  .products .content .data .detail .name p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .products .content .data .detail .name p {
    font-size: 23px;
  }
}
@media (max-width: 990px) {
  .products .content .data .detail .name span svg {
    width: 20px;
  }
}
@media (max-width: 768px) {
  .products .content .data .detail .name span svg {
    width: 25.598px;
  }
}
.products .content .data .detail .prices p {
  margin: 0;
  color: #CBCBCB;
  font-size: 14px;
  text-align: center;
  font-weight: 800;
}
@media (max-width: 990px) {
  .products .content .data .detail .prices p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .products .content .data .detail .prices p {
    font-size: 14px;
  }
}
.products .content .data .detail .prices span {
  color: #FF003D;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 990px) {
  .products .content .data .detail .prices span {
    font-size: 21px;
  }
}
@media (max-width: 768px) {
  .products .content .data .detail .prices span {
    font-size: 24px;
  }
}
.products .content .data .button {
  margin-top: 35px;
}
.products .content .data .button a {
  display: flex;
  display: block;
  padding: 11px 62px;
  border-radius: 35px;
  background: #E6B622;
  font-size: 18px;
  color: black;
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .products .content .data .button a {
    padding: 11px 34px;
  }
}
@media (max-width: 990px) {
  .products .content .data .button a {
    padding: 11px 24px;
  }
}
@media (max-width: 786px) {
  .products .content .data .button a {
    padding: 11px 60px;
    text-align: center;
  }
}
.products .content .data .button a span {
  margin-left: 60px;
}
@media (max-width: 990px) {
  .products .content .data .button a span {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .products .content .data .button a span {
    margin-left: 60px;
  }
}
.products .content .data1 {
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 87px;
}
.products .content .data1 .image img {
  width: 100%;
  height: auto;
  position: relative;
}
.products .content .data1 .detail {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
}
.products .content .data1 .detail .name p {
  font-size: 23px;
  font-weight: bold;
}
@media (max-width: 990px) {
  .products .content .data1 .detail .name p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .products .content .data1 .detail .name p {
    font-size: 23px;
  }
}
@media (max-width: 990px) {
  .products .content .data1 .detail .name span svg {
    width: 20px;
  }
}
@media (max-width: 768px) {
  .products .content .data1 .detail .name span svg {
    width: 25.598px;
  }
}
.products .content .data1 .detail .prices p {
  margin: 0;
  color: #CBCBCB;
  font-size: 14px;
  text-align: center;
  font-weight: 800;
}
@media (max-width: 990px) {
  .products .content .data1 .detail .prices p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .products .content .data1 .detail .prices p {
    font-size: 14px;
  }
}
.products .content .data1 .detail .prices span {
  color: #FF003D;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 990px) {
  .products .content .data1 .detail .prices span {
    font-size: 21px;
  }
}
@media (max-width: 768px) {
  .products .content .data1 .detail .prices span {
    font-size: 24px;
  }
}
.products .content .data1 .button {
  margin-top: 35px;
}
.products .content .data1 .button a {
  display: flex;
  display: block;
  padding: 11px 62px;
  border-radius: 35px;
  background: #E6B622;
  font-size: 18px;
  color: black;
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .products .content .data1 .button a {
    padding: 11px 34px;
  }
}
@media (max-width: 990px) {
  .products .content .data1 .button a {
    padding: 11px 24px;
  }
}
@media (max-width: 786px) {
  .products .content .data1 .button a {
    padding: 11px 60px;
    text-align: center;
  }
}
.products .content .data1 .button a span {
  margin-left: 60px;
}
@media (max-width: 990px) {
  .products .content .data1 .button a span {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .products .content .data1 .button a span {
    margin-left: 60px;
  }
}

.contactpage {
  margin-top: 144px;
}
.contactpage .detail {
  padding: 42px 87px;
  box-shadow: 2px 2px 5px 6px #f5f5fe;
}
.contactpage .detail .data h2 {
  font-size: 35px;
  color: #13377D;
}
.contactpage .detail .data p {
  margin-bottom: 40px;
  color: #464646;
  font-size: 18px;
  word-spacing: -3px;
}
.contactpage .detail form .input input {
  width: 30%;
  background: #F5F5F5;
  border: none;
  height: 52px;
}
.contactpage .detail form .input input::-moz-placeholder {
  padding-left: 30px;
  color: #464646;
  opacity: 0.45;
}
.contactpage .detail form .input input::placeholder {
  padding-left: 30px;
  color: #464646;
  opacity: 0.45;
}
@media (max-width: 990px) {
  .contactpage .detail form .input input {
    width: 100%;
    margin-bottom: 20px;
  }
}
.contactpage .detail form .input input[type=tel] {
  margin: 0 30px;
  background: #F5F5F5;
  border: none;
  height: 52px;
}
@media (max-width: 990px) {
  .contactpage .detail form .input input[type=tel] {
    margin: 0;
    margin-bottom: 20px;
  }
}
.contactpage .detail form .submit {
  display: flex;
  align-items: center;
}
.contactpage .detail form .submit br {
  display: none;
}
.contactpage .detail form .submit .textarea {
  width: 63.5%;
  margin-right: 36px;
}
.contactpage .detail form .submit .textarea textarea {
  height: 36px;
  margin-top: 22px;
  width: 100%;
  margin-right: 30px;
  background: #F5F5F5;
  border: none;
  height: 52px;
}
.contactpage .detail form .submit .textarea textarea::-moz-placeholder {
  padding-left: 30px;
  color: #464646;
  opacity: 0.45;
}
.contactpage .detail form .submit .textarea textarea::placeholder {
  padding-left: 30px;
  color: #464646;
  opacity: 0.45;
}
@media (max-width: 768px) {
  .contactpage .detail form .submit .textarea textarea {
    width: 100%;
  }
}
.contactpage .detail form .submit .submit {
  width: 30%;
}
.contactpage .detail form .submit .submit input {
  height: 36px;
  margin-top: 22px;
  width: 100%;
  height: 52px;
  border: none;
  color: #464646;
  background: #E6B622;
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .contactpage .detail form .submit .submit input {
    width: 100%;
  }
}

.question {
  margin-bottom: 152px;
}
.question .content .image img {
  width: 100%;
  height: auto;
}
.question .content .data {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.question .content .data h2 {
  font-size: 40px;
  color: #13377D;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .question .content .data h2 {
    font-size: 32px;
  }
}
@media (max-width: 468px) {
  .question .content .data h2 {
    font-size: 24px;
  }
}
.question .content .data .contact-detail p {
  margin-top: 45px;
  font-size: 18px;
  color: #E6B622;
}
@media (max-width: 1200px) {
  .question .content .data .contact-detail p {
    margin-top: 35px;
  }
}
.question .content .data .contact-detail a {
  display: flex;
  text-decoration: none;
}
.question .content .data .contact-detail a span:nth-child(2) {
  margin-left: 20px;
  color: black;
}

.map {
  display: flex;
  justify-content: center;
}

.wealth {
  margin-top: 106px;
}
.wealth .content {
  padding: 44px 85px;
}
.wealth .content h2 {
  color: #13377D;
  font-size: 35px;
}
.wealth .content p {
  color: #464646;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.wealth .content p input {
  height: 17px;
  width: 24px;
}
.wealth .content .calculator {
  margin-top: 75px;
}
.wealth .content .calculator .slider {
  margin-bottom: 35px;
}
.wealth .content .calculator .slider .numbers {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
@media (max-width: 990px) {
  .wealth .content .calculator .slider .numbers {
    width: 100%;
  }
}
.wealth .content .calculator .slider .numbers p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
.wealth .content .calculator .slider .numbers span {
  color: #13377D;
  font-size: 18px;
  font-weight: 600;
}
.wealth .content .calculator .slider .range {
  width: 300px;
  height: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #DFDBDB;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 990px) {
  .wealth .content .calculator .slider .range {
    width: 100%;
  }
}
.wealth .content .calculator .slider .range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #E6B622;
  background-color: #FFFFFF;
  box-shadow: -407px 0 0 400px #E6B622;
}
.wealth .content .calculator .slider1 .numbers {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
@media (max-width: 990px) {
  .wealth .content .calculator .slider1 .numbers {
    width: 100%;
  }
}
.wealth .content .calculator .slider1 .numbers p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
.wealth .content .calculator .slider1 .numbers span {
  color: #13377D;
  font-size: 18px;
  font-weight: 600;
}
.wealth .content .calculator .slider1 .range {
  width: 300px;
  height: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #DFDBDB;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 990px) {
  .wealth .content .calculator .slider1 .range {
    width: 100%;
  }
}
.wealth .content .calculator .slider1 .range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #E6B622;
  background-color: #FFFFFF;
  box-shadow: -407px 0 0 400px #E6B622;
}
.wealth .content .calculator .radio {
  width: 300px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 10px 20px;
  background-color: #F5F5F5;
}
@media (max-width: 990px) {
  .wealth .content .calculator .radio {
    width: 100%;
  }
}
.wealth .content .calculator .radio input {
  margin-right: 14px;
  background: blue;
}
.wealth .content .calculator .radio label {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
.wealth .content .calculator .funds {
  width: 400px;
}
@media (max-width: 990px) {
  .wealth .content .calculator .funds {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .wealth .content .calculator .funds {
    margin-top: 70px;
  }
}
.wealth .content .calculator .funds .fundstype {
  border: 1px solid #E6B622;
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 15px 20px 15px 20px;
  margin-top: 20px;
}
.wealth .content .calculator .funds .fundstype .stash {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.wealth .content .calculator .funds .fundstype .stash input {
  margin-right: 10px;
}
.wealth .content .calculator .funds .fundstype .stash label {
  font-size: 18px;
  color: #242424;
  font-weight: 500;
}
.wealth .content .calculator .funds .fundstype .stash span {
  color: #E6B622;
  font-size: 18px;
  font-weight: 600;
}
.wealth .content .calculator .funds .fundstype .mutual {
  display: flex;
  justify-content: space-between;
}
.wealth .content .calculator .funds .fundstype .mutual input {
  margin-right: 10px;
}
.wealth .content .calculator .funds .fundstype .mutual label {
  font-size: 18px;
  color: #242424;
  font-weight: 500;
}
.wealth .content .calculator .funds .fundstype .mutual span {
  color: #E6B622;
  font-size: 18px;
  font-weight: 600;
}
.wealth .content .calculator .funds .deposits {
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px 0 25px;
}
@media (max-width: 990px) {
  .wealth .content .calculator .funds .deposits {
    margin-top: 0;
  }
}
.wealth .content .calculator .funds .deposits input {
  margin-right: 10px;
}
.wealth .content .calculator .funds .deposits label {
  color: #242424;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 990px) {
  .wealth .content .calculator .funds .deposits .intial {
    text-align: center;
  }
}
@media (max-width: 990px) {
  .wealth .content .calculator .funds .deposits .monthly {
    text-align: center;
  }
}
.wealth .content .image img {
  width: 100%;
  height: auto;
}

.signup {
  margin: 128px 0 132px 0;
}
.signup .signup-content .image img {
  width: 100%;
  height: auto;
  margin-top: 23%;
}
.signup .signup-content .signup-form {
  padding-left: 65px;
}
@media (max-width: 768px) {
  .signup .signup-content .signup-form {
    margin-top: 50px;
  }
}
.signup .signup-content .signup-form h2 {
  color: #13377D;
  font-size: 35px;
  font-weight: 700;
}
.signup .signup-content .signup-form p {
  color: #242424;
  font-size: 25px;
  font-weight: 500;
}
.signup .signup-content .signup-form .detail {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}
.signup .signup-content .signup-form .detail input {
  width: 100%;
  border-radius: 30px;
  padding: 14px 0 14px 50px;
  background-color: #F5F5F5;
  border: none;
}
.signup .signup-content .signup-form .detail input::-moz-placeholder {
  font-size: 16px;
}
.signup .signup-content .signup-form .detail input::placeholder {
  font-size: 16px;
}
.signup .signup-content .signup-form .detail span {
  position: absolute;
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.signup .signup-content .signup-form .password-detail {
  display: flex;
  margin-bottom: 30px;
}
@media (max-width: 990px) {
  .signup .signup-content .signup-form .password-detail {
    flex-direction: column;
  }
}
.signup .signup-content .signup-form .password-detail .password {
  position: relative;
  width: 49%;
  margin-right: 13px;
}
@media (max-width: 990px) {
  .signup .signup-content .signup-form .password-detail .password {
    width: 100%;
    margin-bottom: 30px;
  }
}
.signup .signup-content .signup-form .password-detail .password input {
  width: 100%;
  border-radius: 30px;
  padding: 14px 0 14px 50px;
  background-color: #F5F5F5;
  border: none;
}
.signup .signup-content .signup-form .password-detail .password::after {
  content: "";
  position: absolute;
  background-image: url(/assets/images/padlock.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.signup .signup-content .signup-form .password-detail .password::before {
  content: "";
  position: absolute;
  background-image: url(/assets/images/invisible.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.signup .signup-content .signup-form .password-detail .retype-password {
  position: relative;
  width: 49%;
}
@media (max-width: 990px) {
  .signup .signup-content .signup-form .password-detail .retype-password {
    width: 100%;
  }
}
.signup .signup-content .signup-form .password-detail .retype-password input {
  width: 100%;
  border-radius: 30px;
  padding: 14px 0 14px 50px;
  background-color: #F5F5F5;
  border: none;
}
.signup .signup-content .signup-form .password-detail .retype-password::after {
  content: "";
  position: absolute;
  background-image: url(/assets/images/padlock.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.signup .signup-content .signup-form .password-detail .retype-password::before {
  content: "";
  position: absolute;
  background-image: url(/assets/images/invisible.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.signup .signup-content .signup-form .button {
  text-align: right;
}
.signup .signup-content .signup-form .button a {
  width: 100%;
  display: block;
  text-decoration: none;
}
.signup .signup-content .signup-form .button a button {
  width: 100%;
  border-radius: 30px;
  padding: 13px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: #E6B622;
}
.signup .signup-content .signup-form .button input {
  margin-top: 30px;
}
.signup .signup-content .signup-form .button label {
  color: #929292;
  font-size: 15px;
}

.login {
  margin: 128px 0 132px 0;
}
.login .login-content .image img {
  width: 100%;
  height: auto;
}
.login .login-content .login-form {
  padding-left: 65px;
}
@media (max-width: 768px) {
  .login .login-content .login-form {
    margin-top: 50px;
  }
}
.login .login-content .login-form h2 {
  color: #13377D;
  font-size: 35px;
  font-weight: 700;
}
.login .login-content .login-form p {
  color: #242424;
  font-size: 25px;
  font-weight: 500;
}
.login .login-content .login-form .detail {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}
.login .login-content .login-form .detail input {
  width: 100%;
  border-radius: 30px;
  padding: 14px 0 14px 50px;
  background-color: #F5F5F5;
  border: none;
}
.login .login-content .login-form .detail input::-moz-placeholder {
  font-size: 16px;
}
.login .login-content .login-form .detail input::placeholder {
  font-size: 16px;
}
.login .login-content .login-form .detail span {
  position: absolute;
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.login .login-content .login-form .password {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 990px) {
  .login .login-content .login-form .password {
    width: 100%;
    margin-bottom: 30px;
  }
}
.login .login-content .login-form .password input {
  width: 100%;
  border-radius: 30px;
  padding: 14px 0 14px 50px;
  background-color: #F5F5F5;
  border: none;
}
.login .login-content .login-form .password::after {
  content: "";
  position: absolute;
  background-image: url(/assets/images/padlock.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.login .login-content .login-form .password::before {
  content: "";
  position: absolute;
  background-image: url(/assets/images/invisible.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.login .login-content .login-form .button {
  text-align: right;
}
.login .login-content .login-form .button a {
  width: 100%;
  display: block;
  text-decoration: none;
}
.login .login-content .login-form .button a button {
  width: 100%;
  border-radius: 30px;
  padding: 13px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: #E6B622;
}
.login .login-content .login-form .button input {
  margin-top: 30px;
}
.login .login-content .login-form .button label {
  color: #929292;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */